<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <title>Survey</title>
</head>


<body>
<h1>Midterm Survey</h1>
<form action="" method="post">
<div>
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr" name="name">
</div>

<p>Check all that apply</p>
<!--Use set array to build indoor buttons-->
<repeat group="{{ @question }}"
        key="{{ @key }}"
        value="{{ @value }}">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{@value}}" id="defaultCheck1" name="questions[]">
        <label class="form-check-label" for="defaultCheck1">
            {{@value}}
        </label>
    </div>
</repeat>
    <button type="submit">Submit</button>
</form>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>